nav .categories-wrapper .categories-container.pinned a { 
//    color: #444;
}

nav .categories-wrapper .categories-container a { 
}


.opacity {
    opacity: 0.7;
}

.netfmred {
    color: #b71c1c;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.operational{
    float: right;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.greendot{
    color: #2fcc66;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 3px;
}

.numberscontainer{
display: flex;
align-items: center;
justify-content: space-around;
height: 120px;
line-height: 30px;
}

.numbersdiv {
 width: 30%;
 height: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
color: white;
justify-content: center;
border: 1px solid #b71c1c;
border-radius: 5px;
background: #b71c1c;
}

#numbers1 {
opacity: 0.4;
}

#numbers2 {
opacity: 0.4;
}

#numbers3 {
opacity: 0.4;
}

.datatake {
display: flex;
align-items: center;
width: 50%;
}

.textlive{
display: flex;
justify-content: space-between;
}

#barriers, #bookings, #visitors {
    padding-right: 5px;
    padding-top: 12px;
    font-size: 2.4em;
    line-height: 30px;

}

@media only screen and (max-width:  768px) {
    .numberscontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 250px;
        }
        
        .numbersdiv {
        margin-bottom: 25px;
         width: 100%;
         height: 100px;
        }
  }


.video-container-nw {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container-nw video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.logonetfm {
  font-weight: 600;
  font-weight: 500;
  color: #b71c1c;
}
